@font-face{
	font-family: 'BarlowSemiCondensed';
	font-weight: bolder;
	font-style: normal;
	src: url('../fonts/BarlowSemiCondensed-ExtraBold.ttf')
		 format('truetype');
}

@font-face{
	font-family: 'BarlowSemiCondensed';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/BarlowSemiCondensed-Bold.ttf')
		 format('truetype');
}

@font-face{
	font-family: 'Barlow';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Barlow-Bold.ttf')
		 format('truetype');
}

@font-face{
	font-family: 'SpaceMono-Regular';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SpaceMono-Regular.ttf')
		 format('truetype');
}

