@font-face{
	font-family: 'BarlowSemiCondensed-ExtraBold';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/BarlowSemiCondensed-ExtraBold.ttf')
		 format('truetype');
}


@font-face{
	font-family: 'SpaceMono-Regular';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SpaceMono-Regular.ttf')
		 format('truetype');
}

