*,*::after, *::before {
	box-sizing: border-box;
}

/*Above box column code referenced from Philip Walton's 'Better, Simpler Grids' Page
https://philipwalton.github.io/solved-by-flexbox/demos/grids/*/

.parent-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

}

.parent-container-wrap{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
}

.flexbox-half,
.flexbox-third{

	flex:1 0 45%;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding:2rem 5rem 2rem 5rem;
}

.flexbox-cart{
	flex:1 0 45%;
	margin-right: 1rem;
}

.flexbox-cartname{
	flex:1 0 45%;
	margin-right: 1rem;
	flex-direction: row;

}

.flexbox-ordersummary{
	flex:1 0 45%;
	margin-right: 10rem;
	flex-wrap: wrap;
}


/*Flexbox smaller first*/
.flexbox-layout-minor{
	flex:1 0;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding: 2rem 2rem 2rem 5rem;
}

.flexbox-layout-major{
	flex:2 1;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-left:0.25rem;
	margin-right:0.25rem;
	padding: 2rem 5rem 2rem 2rem;

}

.flexbox-layout-cart{
	flex:10 0.5;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding: 2rem 2rem 2rem 5rem;
	width:70%;
}

.flexbox-layout-summary{
	flex:1 0;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-left:0.25rem;
	margin-right:0.25rem;
	padding: 2rem 5rem 2rem 2rem;
		width:35%;
}
.pricing-alignright{
	align-items: flex-end;
}

/*Flexbox larger first*/

.flexbox-layout-major-inverted{
	flex:2 0;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-left:0.25rem;
	margin-right:0.25rem;
	padding: 2rem 2rem 2rem 5rem;

}

.flexbox-layout-minor-inverted{
	flex:1 0;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding: 2rem 5rem 2rem 2rem;
}

.center-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-direction:column;
	justify-content:center;
	text-align:center;
	align-items:center;
	align-content:center;
	padding: 0rem 2rem 0rem 2rem;
}

.slab-formatting{
	padding-top:3rem;
	padding-bottom:4rem;
}

.slab-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	justify-content:space-between;
	align-items:center;
	align-content:center;
}

/*NAV CODE --------------------------------*/

.main-nav-container{
	justify-content:space-between;
	flex-wrap:wrap;
	height:auto;
	padding-right:0.5rem;
	padding-left:0.5rem;
}

.main-nav-logo{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	flex:3 0 auto;
	flex-wrap:wrap;
	align-items:center;
}

.main-nav-items{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex:1 0 20%;
	justify-content:flex-end;
	flex-wrap:wrap;
	align-items:center;
	flex-direction:row;
}

.main-nav-col{
	flex-wrap:wrap;
}

/*SUBNAV CODE ----------------------------------*/


.subnav-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	justify-content:center;
	align-items:flex-start;
}

.subnav-filter{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	flex:1;
	flex-direction:column;
	max-width: 20%;
	padding:0.5rem;
}
.subnav-types{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	flex:2 0 auto;
	max-width:80%;
	align-items:center;
	padding-top:2rem;
	padding-bottom:2rem;
}


.subnav-col{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding:0 1rem 2rem 1rem;	
}

/*PRODUCT GRID CODE ---------------------------------*/

.product-grid{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:1rem 6rem 3rem 6rem;
}

.product-grid-col{
	margin-right:0.25rem;
	margin-left:0.25rem;
	margin-bottom:2rem;
}

.center-grid-items{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.empty-div{
	margin-right:0.25rem;
	margin-left:0.25rem;
	width:18.6875rem;
}

/*FOOTER CODE --------------------------------------------------------------------*/

.footer-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	justify-content:space-between;
	height:auto;
	padding:2rem 2rem 4rem 2rem;
	flex-wrap:wrap;
}

.footer-content{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	flex-wrap: wrap;
	justify-content:flex-start;
}

.footer-col{
	flex-wrap:wrap;
	padding-right:4rem;
	padding-left:4rem;
}

.footer-logo{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex: 1 0 20%;
	flex-wrap:wrap;
	justify-content:flex-end;
	padding-right:2rem;
	padding-top:3rem;
}

/*PRODUCT SPLASH IMAGE CODE ----------------------------------------------------------------*/

.product-splash-col{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap:wrap;
	align-content:flex-start;
}


.product-splash-container{
    height: 70%;
    align-items: flex-start;
    align-content: center;
}


/*PRODUCT NAV CODE -----------------------------------------------------------------------*/

.product-nav{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	justify-content:center;
	align-items:center;
}

.product-nav::-webkit-scrollbar {
  display: none;
}

.product-nav{
  -ms-overflow-style: none;
}

.product-nav-col{
	padding-right:2rem;
	padding-left:2rem;
	align-items:center;
}

/*DROP DOWN MENU CODE ----------------------------------------------------------- */

.dropdown-menu-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	padding-top:2rem;
	padding-bottom:2rem;
}

.dropdown-menu-col{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding-right:1rem;
	padding-left:1rem;
}



/*REVIEWS ----------------------------------------------------------- */
.reviews-column{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	justify-content:flex-start;
	align-content:flex-start;
	flex-direction:column;
}

.review-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	
	flex-wrap:nowrap;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

/*CART ----------------------------------------------------------- */
.cart-row{
	justify-content: flex-start;
}





/*MOBILE MENU -------------- */
