*,*::after, *::before {
	box-sizing: border-box;
}

/*Above box column code referenced from Philip Walton's 'Better, Simpler Grids' Page
https://philipwalton.github.io/solved-by-flexbox/demos/grids/*/


 .flexbox-half,
 .flexbox-third{

 	flex:1 0 45%;
 	margin-right:0.25rem;
 	margin-left:0.25rem;
 	padding:2rem 4rem 2rem 4rem;
 }

 .parent-container{
 	display: -webkit-flex;
	display: -ms-flex;
 	display:flex;
 }

 .parent-container-wrap{
  	display: -webkit-flex;
	display: -ms-flex;
 	display:flex;

  	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
 	flex-wrap:wrap;
 }

/*Flexbox smaller first*/
  .flexbox-layout-minor{
 	flex:1 0;
 	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
 	flex-wrap:wrap;
 	margin-right:0.25rem;
 	margin-left:0.25rem;
 	padding: 2rem 2rem 2rem 4rem;
 }

 .flexbox-layout-major{
 	flex:2 1;
  	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
 	flex-wrap:wrap;
 	margin-left:0.25rem;
 	margin-right:0.25rem;
  	padding: 2rem 4rem 2rem 2rem;

 }

/*Flexbox larger first*/

 .flexbox-layout-major-inverted{
 	flex:2 0;
  	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
 	flex-wrap:wrap;
 	margin-left:0.25rem;
 	margin-right:0.25rem;
  	padding: 2rem 2rem 2rem 4rem;

 }

  .flexbox-layout-minor-inverted{
 	flex:1 0;
 	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
 	flex-wrap:wrap;
 	margin-right:0.25rem;
 	margin-left:0.25rem;
 	padding: 2rem 4rem 2rem 2rem;
 }

 .center-container{
  	display: -webkit-flex;
	display: -ms-flex;
 	display: flex;

	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
 }

 .slab-formatting{
 	padding-top:3rem;
	padding-bottom:4rem;
 }

 .slab-container{
 	display: flex;

	justify-content:space-between;
	align-items:center;
	align-content:center;
 }

/*NAV CODE --------------------------------*/

.main-nav-container{
	justify-content:space-between;
	flex-wrap:wrap;
	height:auto;
	padding-right:0.5rem;
	padding-left:0.5rem;
}

.main-nav-logo{
	flex:3 0 auto;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

.main-nav-items{
	flex:1 0 20%;
	display:flex;
	justify-content:flex-end;
	flex-wrap:wrap;
	align-items:center;
	flex-direction:row;
}

.main-nav-col{
	flex-wrap:wrap;
}

/*SUBNAV CODE ----------------------------------*/


.subnav-container{
	display:flex;
	justify-content:center;
	align-items:flex-start;
}

.subnav-filter{
	display:flex;
	flex:1;
	flex-direction:column;
	max-width: 20%;
	padding:0.5rem;
}
.subnav-types{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	flex:2 0 auto;
	max-width:80%;
	align-items:center;
	padding-top:2rem;
	padding-bottom:2rem;
}


.subnav-col{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding:0 1rem 2rem 1rem;	
}

/*PRODUCT GRID CODE ---------------------------------*/

.product-grid{
  	display: -webkit-flex;
	display: -ms-flex;
 	display:flex;

  	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
 	flex-wrap:wrap;
	justify-content:space-between;
	padding:1rem 4rem 3rem 4rem;
}

.product-grid-col{
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.center-grid-items{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

/*FOOTER CODE --------------------------------------------------------------------*/

.footer-container{
	justify-content:space-between;
	height:auto;
	padding:0rem 2rem 0 2rem;
	display:flex;
	flex-wrap:wrap;
}

.footer-content{
	flex: 3 0 auto;
	flex-wrap: wrap;
	display:flex;
	justify-content:flex-start;
	padding-right:4rem;;
}

.footer-col{
	flex-wrap:wrap;
	padding-right:4rem;
	padding-left:4rem;
}

.footer-logo{
	flex: 1 0 20%;
	flex-wrap:wrap;
	display:flex;
	padding-top:8rem;
}

/*PRODUCT SPLASH IMAGE CODE ----------------------------------------------------------------*/

.product-splash-col{
	display:flex;
	flex-wrap:wrap;
	max-width:40%;
}

.product-splash-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:flex-start;
}


/*PRODUCT NAV CODE -----------------------------------------------------------------------*/

.product-nav{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.product-nav-col{
	padding-right:2rem;
	padding-left:2rem;
	align-items:center;
}

/*DROP DOWN MENU CODE ----------------------------------------------------------- */

.dropdown-menu-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	padding-top:2rem;
	padding-bottom:2rem;
}

.dropdown-menu-col{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding-right:1rem;
	padding-left:1rem;
}



/*REVIEWS ----------------------------------------------------------- */
.reviews-column{
	display:flex;
	justify-content:flex-start;
	align-content:flex-start;
	flex-direction:column;
}

.review-container{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.margins-1rem{
	margin: 1rem;
}

/*CART ----------------------------------------------------------- */
.cart-row{
	justify-content: flex-start;
}

/*CONTACT US -------------------------------------*/
.contact-us-wrap{
	flex-wrap:wrap;
}











/*MEDIA QUERIES*/

@media (max-width: 60.1875rem) {
  .flexbox-layout-minor{
    flex:1 0 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
  }

  .flexbox-layout-major{
  flex:1 100%;
    flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap:wrap;
  }

}

@media (min-width: 60.1875rem) {
  .flexbox-layout-minor{
    flex:1 0 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
  }

  .flexbox-layout-major{
  flex:1 100%;
    flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap:wrap;
  }

}

	body{
		margin:0;
	}

/*When larger screen, add 8rem margin*/
@media (min-width: 98rem) {
	body{
		margin:0 1rem 0 1rem;
	}
}