*,*::after, *::before {
	box-sizing: border-box;
}

/*Above box column code referenced from Philip Walton's 'Better, Simpler Grids' Page
https://philipwalton.github.io/solved-by-flexbox/demos/grids/*/

 .flexbox-full_width{
 	flex: 1 0 auto;
 }

 .flexbox-half,
 .flexbox-third{
 	flex:1 0 auto;
 	margin-right:0.25rem;
 	margin-left:0.25rem;
 }

 .parent-container{
 	display: -webkit-flex;
	display: -ms-flex;
 	display:flex;
 }

 .flexbox-layout-major{
 	flex:2 0;
 	margin-left:0.25rem;
 	margin-right:0.25rem;
 }

 .flexbox-layout-minor{
 	flex:1 0;
 	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
 	flex-wrap:wrap;
 	margin-right:0.25rem;
 	margin-left:0.25rem;
 }

 .center-container{
 	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
 }

 .slab-formatting{
 	padding-top:5rem;
	padding-bottom:4rem;
 }

 .slab-container{
 	display: flex;

	justify-content:space-between;
	align-items:center;
	align-content:center;
 }

/*NAV CODE --------------------------------*/

.main-nav-container{
	justify-content:space-between;
	flex-wrap:wrap;
	height:3rem;
	padding-right:0.5rem;
	padding-left:0.5rem;
}

.main-nav-logo{
	flex:3 0 auto;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

.main-nav-items{
	flex:1 0 20%;
	display:flex;
	justify-content:flex-end;
	flex-wrap:wrap;
	align-items:center;
	flex-direction:row;
}

.main-nav-col{
	flex-wrap:wrap;
}

/*SUBNAV CODE ----------------------------------*/


.subnav-container{
	display:flex;
	justify-content:center;
	align-items:flex-start;
}

.subnav-filter{
	display:flex;
	flex:1;
	flex-direction:column;
	max-width: 20%;
	padding:0.5rem;
}
.subnav-types{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	flex:2 0 auto;
	max-width:80%;
	align-items:center;
	padding-top:2rem;
	padding-bottom:2rem;
}


.subnav-col{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding:0 1rem 2rem 1rem;	
}

/*PRODUCT GRID CODE ---------------------------------*/

.product-grid{
	flex-wrap:wrap;
	justify-content:center;
}

.product-grid-col{
    padding: 1.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.center-grid-items{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

/*FOOTER CODE --------------------------------------------------------------------*/

.footer-container{
	justify-content:space-between;
	height:auto;
	padding-top:2rem;
	padding-bottom:4rem;
	padding-right:0.5rem;
	padding-left:0.5rem;
	display:flex;
	flex-wrap:wrap;
}

.footer-content{
	flex: 3 0 auto;
	flex-wrap: wrap;
	display:flex;
	justify-content:space-around;
}

.footer-col{
	flex-wrap:wrap;
}

.footer-logo{
	flex: 1 0 20%;
	flex-wrap:wrap;
	display:flex;
	padding-top:8rem;
}

/*PRODUCT SPLASH IMAGE CODE ----------------------------------------------------------------*/

.product-splash-col{
	display:flex;
	flex-wrap:wrap;
	max-width:40%;
}

.product-splash-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:flex-start;
}


/*PRODUCT NAV CODE -----------------------------------------------------------------------*/

.product-nav{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.product-nav-col{
	padding-right:2rem;
	padding-left:2rem;
}

/*DROP DOWN MENU CODE ----------------------------------------------------------- */

.dropdown-menu-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	padding-top:2rem;
	padding-bottom:2rem;
}

.dropdown-menu-col{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding-right:1rem;
	padding-left:1rem;
}

/*PRODUCT DETAIL ----------------------------------------------------------- */
