*,*::after, *::before {
	box-sizing: border-box;
}

/*Above box column code referenced from Philip Walton's 'Better, Simpler Grids' Page
https://philipwalton.github.io/solved-by-flexbox/demos/grids/*/

.parent-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

}

.parent-container-wrap{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
}

.flexbox-half,
.flexbox-third{

	flex:1 0 45%;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding:2rem 5rem 2rem 5rem;
}

.flexbox-third-nopadding{
	flex:1 0 45%;
	margin-right:0.25rem;
	margin-left:0.25rem;	

}

<<<<<<< HEAD
.cart-items{
	max-width:33.3%;
}

.input-group{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-direction:row;
	align-items: center;
}

=======
.flexbox-reviews{

	flex:1 0 20%;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding:2rem 5rem 2rem 5rem;
}
>>>>>>> corrina--developing
.flexbox-half-aboutus{
	flex:1 0 20%;
	margin-right:0.1rem;
	margin-left:0.1rem;
	padding:2rem 5rem 2rem 5rem;
}



.flexbox-ordersummary{
	-webkit-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap: wrap;
}


/*Flexbox smaller first*/
.flexbox-layout-minor{
	flex:1 0;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	margin-right:0.25rem;
	margin-left:0.25rem;
	padding: 2rem 2rem 2rem 5rem;
}

.flexbox-layout-major{
	flex:2 1;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	margin-left:0.25rem;
	margin-right:0.25rem;
	padding: 2rem 5rem 2rem 2rem;

}

/*Flexbox larger first*/

.flexbox-layout-major-inverted{
	flex:2 0;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-left:0.25rem;
	margin-right:0.25rem;
	padding: 2rem 2rem 2rem 5rem;

}

.flexbox-layout-minor-inverted{
	flex:1 0;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding: 2rem 5rem 2rem 2rem;
}

.center-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-direction:column;
	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;

	text-align:center;
	align-items:center;
	align-content:center;
	padding: 0rem 2rem 0rem 2rem;
}

.center-container-aboutus{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-direction:column;
	justify-content:center;
	text-align:left;
	align-items:center;
	align-content:center;
	padding: 3rem;
}

.slab-formatting{
	padding-top:3rem;
	padding-bottom:4rem;
}

.slab-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	-webkit-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;

	align-items:center;
	align-content:center;
}

/*NAV CODE --------------------------------*/

.main-nav-container{
	-webkit-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	height:auto;
	padding-right:0.5rem;
	padding-left:0.5rem;
}

.main-nav-logo{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	flex:3 0 auto;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	align-items:center;
}

.main-nav-items{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex:1 0 20%;
	-webkit-justify-content:flex-end;
	-ms-justify-content:flex-end;
	justify-content:flex-end;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	align-items:center;
	flex-direction:row;
}

.main-nav-col{
	flex-wrap:wrap;
}

.logo-formatting{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
}

/*SUBNAV CODE ----------------------------------*/


.subnav-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;

	align-items:flex-start;
}

.subnav-filter{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	flex:1;
	flex-direction:column;
	max-width: 20%;
	padding:0.5rem;
}
.subnav-types{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	-webkit-justify-content:flex-start;
	-ms-justify-content:flex-start;
	justify-content:flex-start;

	flex:2 0 auto;
	max-width:80%;
	align-items:center;
	padding-top:2rem;
	padding-bottom:2rem;
}


.subnav-col{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;

	align-items:center;
	flex-direction:column;
	padding:0 1rem 2rem 1rem;	
}

/*PRODUCT GRID CODE ---------------------------------*/

.product-grid{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	-webkit-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;

	padding:1rem 6rem 3rem 6rem;
}

.product-grid-col{
	margin-right:0.75rem;
	margin-left:0.75rem;
	margin-bottom:2rem;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	max-width:19.375rem;
}

.center-grid-items{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-direction:column;

	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}

.empty-div{
	margin-right:0.25rem;
	margin-left:0.25rem;
	width:18.6875rem;
}

/*FOOTER CODE --------------------------------------------------------------------*/

.footer-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	-webkit-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;

	height:auto;
	padding:2rem 2rem 4rem 2rem;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
}

.footer-content{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap: wrap;

	-webkit-justify-content:flex-start;
	-ms-justify-content:flex-start;
	justify-content:flex-start;
}

.footer-col{
	flex-wrap:wrap;
	padding-right:4rem;
	padding-left:4rem;
}

.footer-logo{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex: 1 0 20%;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	-webkit-justify-content:flex-end;
	-ms-justify-content:flex-end;
	justify-content:flex-end;
	padding-right:2rem;
	padding-top:3rem;
}

/*PRODUCT SPLASH IMAGE CODE ----------------------------------------------------------------*/

.product-splash-col{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	align-content:flex-start;
}


.product-splash-container{
	height: 70%;
	align-items: flex-start;
	align-content: center;
}


/*PRODUCT NAV CODE -----------------------------------------------------------------------*/

.product-nav{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
	align-items:center;
}

.product-nav::-webkit-scrollbar {
	display: none;
}

.product-nav{
	-ms-overflow-style: none;
}

.product-nav-col{
	align-items:center;
	display:inline;
}

/*DROP DOWN MENU CODE ----------------------------------------------------------- */

.dropdown-menu-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;

	align-items:center;
	padding-top:2rem;
	padding-bottom:2rem;
}

.dropdown-menu-col{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;

	align-items:center;
	flex-direction:column;
	padding-right:1rem;
	padding-left:1rem;
}



/*REVIEWS ----------------------------------------------------------- */
.reviews-column{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	-webkit-justify-content:flex-start;
	-ms-justify-content:flex-start;
	justify-content:flex-start;

	align-content:flex-start;
	flex-direction:column;
	
	margin:1rem;
}

.review-container{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	
	flex-wrap: -webkit-nowrap;
	flex-wrap: -ms-nowrap;
	flex-wrap:nowrap;
	flex-direction:column;

	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
	align-items:center;
}

/*CART ----------------------------------------------------------- */
.cart-row{
	-webkit-justify-content:flex-start;
	-ms-justify-content:flex-start;
	justify-content: flex-start;
}

.asterix{
	color: red;
}

.cart-items{
	max-width:33.3%;
}

.cart-individual-spacing{
	justify-content:space-between;
}

.flexbox-cart{
	align-items:center;
}

.flexbox-cartname{
	flex:1 0 45%;
	margin-right: 1rem;
	flex-direction: row;

}

.flexbox-layout-cart{
	flex:10 0.5;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding: 2rem 2rem 2rem 5rem;
	width:70%;
}

.flexbox-layout-summary{
	flex:1 0;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	padding: 2rem 5rem 2rem 2rem;
	width:35%;
}

.pricing-alignright{
	align-items: flex-end;
}



/*MOBILE MENU -------------- */
