/* TYPOGRAPHY */ 
h1{
  font-family: "BarlowSemiCondensed-ExtraBold", Verdana, sans-serif;
  font-size: 3rem;
}

h2{
  font-family: "BarlowSemiCondensed-ExtraBold", Verdana, sans-serif;
  font-size: 2rem;
}

h3{
  font-family: "BarlowSemiCondensed-ExtraBold", Verdana, sans-serif;
  font-size: 1.5rem;
}

h4 {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 1rem;
  margin-top: : 0.5rem;
  padding:0;

}

p, ol, ul,label {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 1rem;
  max-width: 40rem;
}

input{
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  color: grey;
  width:20rem;
  height:2rem;
}

form{
  padding: 0.5rem;
}

/* LINKS + LINK STATES*/ 

a {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  color: #D93333;
  padding-top:-0.2rem;
}

a:active, a:hover, a:focus {
  color:#B73326;
  /** this will prevent there being a line under the link **/
  text-decoration: none;
}


/*IMAGES */
img {
    height: auto;
    max-width: 100%;
}


/*CSS SELECTORS -------------------------------------------------------------------------------------------------------*/
/*NAV CODE*/

.main-nav-button{
    background-color: inherit;
    color:black;
    border:none;
    padding:0.9rem 1rem 0.9rem 1rem;
    font: inherit;
    margin: 0;
}

.main-nav-button:hover{
    background:#B62A2A;
    color:white;
}

.main-nav{
  position:sticky;
  top:2.5rem;
  z-index:2;
}

.product-nav-section{
  position:sticky;
  top:5.5rem;
  z-index:2;
  background:white;
}

/*DISCOUNT HEADER -----------------*/

.discount-header{
  position:sticky;
  top:0;
  z-index:2;
}

.discount-header-font{
  font-size:0.8rem;
}
}

/*MAIN NAV SUBNAV CODE*/

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* SUBNAV BUTTON -----------------------------------*/
.subnav .subnav-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding:0.9rem 1rem 0.9rem 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

 .subnav-button:hover{
    background:#B62A2A;
    color:white;
 }

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.subnav:hover .subnav-content {
  display: block;
}

/* PRODUCT NAV * ------------------------*/

.product-nav-button{
    background-color: inherit;
    color:black;
    border:none;
    padding:0.9rem 1rem 0.9rem 1rem;
    font: inherit;
    margin: 0;
}

.product-nav-button:hover{

}

.button{
  background-color:black;
  border:none;
  color: white;
  height: 3rem;
  width: 15rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 16px;
}

/*HERO BANNER --------------*/
.hero-banner{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20% 10% 10% 10%;
    height: 100%;
}

.homepage-image{
    background-image: url(../img/temporary_hero_image.jpg);
}

.hero-text{
    text-align: left;
    left: 25%;
    top:50%;
    color: white;
    max-width:30rem;
}

/*SLAB COLOURS ------------------------------------------------------*/

.slab-black, .bg-black, .block-black{
    background:black;
    color:white;
}

.slab-red, .bg-red, .block-red{
    background:#D93333;
}

.slab-cream, .bg-cream, .block-cream{
    background:#FFF9ED;
}

.slab-orange, .bg-orange, .block-orange{
    background:#FDBF61;
}

.slab-white, .bg-white, .block-white{
  background:white;
}

/*STICKY BANNER ------------------------------------------------------*/

 .sticky-event{
    padding:0rem 0.5rem 0rem 0.5rem;
    position:fixed;
    top:8rem;
    right:1rem;
    z-index:3;
 }

 .close_button {
  position: absolute;
  top: -0.15rem;
  right: 0.5rem;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

/*ABOUT SECTION ------------------------------------*/

 .text-padding{
    padding: 2rem;
 }

 .stick-img-right{
    margin-right:0rem;
 }

 /*PRODUCT GRID SECTION --------------------------------*/

 .card{
    text-align:left;
 }

/*SPLASH IMAGE ON PRODUCT PAGE ---------------------*/
.product-page-hero-banner{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10% 10% 15% 10%;
    height: 100%;
}

.product-page-hero-image{
    background-image: 
    linear-gradient(rgb(255,249,237, 0.5), rgb(255,249,237,0.5), rgb(255,249,237,0.5),  rgb(255,249,237,0.5), white),
    url(../img/Splash_Image_Greybox.svg);
}

.product-hero-text{
    text-align: left;
    left: 25%;
    top:25%;
    color: black;
    max-width:30rem;    
}

/*DROP DOWN PRODUCT MENU ----------------------------------------------------*/

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Black Button for Add (+) Minus (-) Increments */
.btn-blacksquare
{
  background-color:black;
  border:none;
  color: white;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 2rem;
}

.form-group{
  width:30%;
  margin:30px;
}

input{
  height:3.5rem;
  width:3.5rem;
}

.input-group{
  display:flex;
}

/* REVIEWS -------------------------------------*/ 
.review-cards{
  border-radius: 1rem;
  height: 350px ;
  width: 300px;
  padding:1rem;
  background-color:#FFF9ED;
}

/* CART -------------------------------------*/ 
.cart-image{
  height: 350px ;
  width: 100px;
  padding:1rem;
  background-color: grey;
}


