/* TYPOGRAPHY */ 
h1{
  font-family: "BarlowSemiCondensed-ExtraBold", Verdana, sans-serif;
  font-size: 3rem;
}

h2{
  font-family: "BarlowSemiCondensed-ExtraBold", Verdana, sans-serif;
  font-size: 2rem;
}

h3{
  font-family: "BarlowSemiCondensed-ExtraBold", Verdana, sans-serif;
  font-size: 1.5rem;
}

h4 {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding:0;

}

p, ol, ul,label {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 1rem;
  max-width: 40rem;
}

input{
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  color: grey;
  width:20rem;
  height:2rem;
}

form{
  padding: 0.5rem;
}

/* LINKS + LINK STATES*/ 

a {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  color: #D93333;
}

a:active, a:hover, a:focus {
  color:#B73326;
  /** this will prevent there being a line under the link **/
  text-decoration: none;
}


/*IMAGES */
img {
    height: auto;
    max-width: 100%;
}

hr{
  margin:0rem;
  padding:0rem;
}

header{
  position:sticky;
  top:0rem;
  z-index:2;
}

/*CSS SELECTORS -------------------------------------------------------------------------------------------------------*/

/*GENERAL CODE */

.header-formatting{
  padding:0 4rem 0 4rem;
}

/*NAV CODE*/

.main-nav-button{
    background-color: inherit;
    color:black;
    border:none;
    padding:0.9rem 1rem 0.9rem 1rem;
    font: inherit;
    margin: 0;
    color:white;

}

.main-nav-button:hover{
    text-decoration:underline;
    color:white;

}

.product-nav-section{
  position:sticky;
  top:5.5rem;
  z-index:2;
  background:white;
}

/*DISCOUNT HEADER -----------------*/

.discount-header-font{
  font-size:0.7rem;
}

/*MAIN NAV SUBNAV CODE*/

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* SUBNAV BUTTON -----------------------------------*/
.subnav .subnav-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding:0.9rem 1rem 0.9rem 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

 .subnav-button:hover{
    text-decoration:underline;
    color:white;
 }

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
  overflow:scroll;
  max-height:25rem;
}

.subnav:hover .subnav-content {
  display: block;
}

/* PRODUCT NAV * ------------------------*/

.product-nav-button{
    background-color: inherit;
    font-family: "SpaceMono-Regular", Verdana, sans-serif;
    color:black;
    border:none;
    padding:0.9rem 1rem 0.9rem 1rem;
    margin: 0;
}

.product-nav-button:hover{

}

.button{
  background-color:black;
  border:none;
  color: white;
  height: 3rem;
  width: 15rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 16px;
}

.button:hover, 
.button:focus,
.btn-submit:hover,
.btn-submit:focus,
.btn-product:hover,
.btn-product:focus{
  background-color:#292929;
}

.btn-submit,
.btn-product{
  background-color:black;
  border:none;
  color: white;
  height: 3rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 16px;  
  margin-top:1rem;
}

/*OPTIONAL PRODUCT BUTTON
.btn-product{
  background-color:white;
  border:0.1rem solid black;
  color: black;
  height: 3rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 16px;  
  margin-top:1rem;
}*/

/*HERO BANNER --------------*/
.hero-banner{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2rem 1rem 2rem 1rem;
    /*padding: 4rem 2rem 4rem 2rem;*/
    height: 36.875rem;
}

.homepage-image{
    background-image: url(../img/updated-imgs/soy-marinated-eggs.jpg);
}

.hero-text{
    position:absolute;
    text-align: left;
    bottom:3rem;
    right:4rem;
    color: white;
    max-width:30rem;
    padding:2rem;
}



/*SLAB COLOURS ------------------------------------------------------*/

.slab-black, .bg-black, .block-black{
    background:black;
    color:white;
}

.slab-red, .bg-red, .block-red{
    background:#D93333;
}

.slab-cream, .bg-cream, .block-cream{
    background:#FFF9ED;
}

.slab-orange, .bg-orange, .block-orange{
    background:#FDBF61;
}

.slab-white, .bg-white, .block-white{
  background:white;
}

/*STICKY BANNER ------------------------------------------------------*/

 .sticky-event{
    padding:0rem 0.5rem 0rem 0.5rem;
    position:fixed;
    top:8rem;
    right:1rem;
    z-index:3;
 }

 .close_button {
  position: absolute;
  top: -0.15rem;
  right: 0.5rem;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

/*ABOUT SECTION ------------------------------------*/

 .stick-img-right{
    margin:0rem;
    padding:0rem;
 }

 .unequal-text-formatting{
  margin:0rem; 
  padding:2rem 2rem 0rem 4rem;
  }

 /*PRODUCT GRID SECTION --------------------------------*/

 .card{
    text-align:left;
 }

 .product-header-link{
  text-decoration:none;
  color:black;
}

.product-header-link:hover, .product-header-link:focus{
  text-decoration:underline;
  color:black;
}

/*SPLASH IMAGE ON PRODUCT PAGE ---------------------*/

.product-page-hero-image{
    background-image: 
    linear-gradient(rgb(255,249,237, 0.5), rgb(255,249,237,0.5), rgb(255,249,237,0.5),  rgb(255,249,237,0.5), white),
    url(../img/updated-imgs/products-splash-image.jpg);
}

.product-hero-header{
  position:relative;
  text-align:left;
  color:black;
}

.product-hero-text{
    position:relative;
    text-align: left;

    color: black;
}

.product-hero-banner{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2rem 1rem 2rem 1rem;
    /*padding: 4rem 2rem 4rem 2rem;*/
    height: 28.875rem;
}


/*DROP DOWN PRODUCT MENU ----------------------------------------------------*/

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Black Button for Add (+) Minus (-) Increments */
.btn-blacksquare
{
  background-color:black;
  border:none;
  color: white;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 2rem;
}

.form-group{
  width:30%;
  margin:30px;
}

.input-button-size{
  height:3.5rem;
  width:3.5rem;
}

.input-group{
  display:flex;
}

/* REVIEWS -------------------------------------*/ 
.review-cards{
  border-radius: 1rem;
  height: 350px;
  width: 300px;
  padding:1rem;
  margin: 1rem;
  background-color:#FFF9ED;
}

/* CART -------------------------------------*/ 
.cart-image{
  height: 350px ;
  width: 100px;
  padding:1rem;
  background-color: grey;
}

/* FOOTER ----------------------------*/

.footer-header-link {
  color:black;
  text-decoration:none;
}

.footer-header-link:hover, .footer-header-link:focus{
  color:#D93333;
}

.footer-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* BREADCRUMBS -----------------------*/

ul.breadcrumbs {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumbs li {
  display: inline;
}

ul.breadcrumbs li+li:before {
  padding: 0.25rem;
  color: black;
  content: ">\00a0";
}

ul.breadcrumbs li a {
  color: black;
  font-family: BarlowSemiCondensed-ExtraBold;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumbs li a:hover,
ul.breadcrumbs li a:focus, 
ul.breadcrumbs li a:active{
  color: #D93333;
  text-decoration: underline;
}

a.dropdown-menu-col {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
}

.hamburger_icon {
  display:none;
}


/*MEDIA QUERIES*/



@media (max-width: 60.1875rem) {
  .flexbox-layout-minor{
    flex:1 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
  }

  .flexbox-layout-major{
    flex:1 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
  }

  .flexbox-layout-minor-inverted{
    flex:1 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
  }

  .flexbox-layout-major-inverted{
    flex:1 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
  }
  
  .sticky-event{
    padding:0rem 0.5rem 0rem 0.5rem;
    position:fixed;
    z-index:3;
  }

  .product-grid{
  display: -webkit-flex;
  display: -ms-flex;
  display:flex;

  flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap:wrap;
  justify-content:space-between;
  padding:1rem 3rem 3rem 3rem;

 }

  .unequal-text-formatting{
    padding:2rem;
  }

.product-nav{
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100%;
  }

}

@media (max-width: 40.1875rem) {

  .product-grid{
  display: -webkit-flex;
  display: -ms-flex;
  display:flex;

  flex-wrap: -webkit-wrap;
  flex-wrap: -ms-wrap;
  flex-wrap:wrap;
  justify-content:center;
  padding:1rem 3rem 3rem 3rem;
  }

  .footer-col{
    padding:0rem;
  }

  .flexbox-half,
  .flexox-third {
    padding:2rem;
  }

.hamburger_icon {
  display: block;
}

.main-nav-container{
  padding: 1rem 0rem 1rem 0rem;
}


/* Style the navigation menu */
.main-nav {
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.main-nav #myLinks {
  display: none;
}


/* Style navigation menu links */
.main-nav button,
.main-nav-logo button,
.main-nav-items button,
.main-nav-content button {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Add a grey background color on mouse-over */
.main-nav a:hover {
  background-color: white;
  color: black;
}

/* Style the hamburger menu */
.main-nav a.hamburger_icon {
  background: black;
  display: block;
  position: absolute;
  right: 1rem;
  color:red;
}

}


@media (min-width: 79rem) {


}

@media (min-width: 98rem) {

}


label{
cursor:default;
}

form{
  display:block;
}

input[type=text] {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* THE SIDE NAVIGATION MENU ----------------------------*/ 
 
.sidenav { 
  height: 100%; /* 100% Full-height */ 
  width: 0; /* 0 width - change this with JavaScript */ 
  position: fixed; /* Stay in place */ 
  z-index: 1; /* Stay on top */ 
  top: 0; /* Stay at the top */ 
  right: 0; 
  background-color: #F3F3F3; /*Off White*/ 
  overflow-x: hidden; /* Disable horizontal scroll */ 
  padding-top: 60px; /* Place content 60px from the top */ 
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */ 
  z-index: 1000; /*Keeps the sidenav on top of other navigation bars*/ 
} 
 
/* The navigation menu links */ 
.sidenav a { 
  padding: 8px 8px 8px 32px; 
  text-decoration: none; 
  font-size: 25px; 
  color: #818181; 
  display: block; 
  transition: 0.3s; 
} 
 
/* When you mouse over the navigation links, change their color */ 
.sidenav a:hover { 
  color: #f1f1f1; 
} 
 
/* Position and style the close button (top right corner) */ 
.sidenav .closebtn { 
  position: absolute; 
  top: 0; 
  right: 25px; 
  font-size: 36px; 
  margin-left: 50px; 
} 
 
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */ 
#main { 
  transition: margin-left .5s; 
  padding: 20px; 
} 
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */ 
@media screen and (max-height: 450px) { 
  .sidenav {padding-top: 15px;} 
  .sidenav a {font-size: 18px;} 
} 
