@media (max-width:25rem){
  .hero-text{
    max-width:100%;
    right:1.5rem;
  }
}

@media (max-width: 60.1875rem) {

  .flexbox-layout-minor{
    flex:1 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
  }

  .flexbox-layout-major{
    flex:1 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
    padding:0;
    margin:1rem 1rem 2rem 1rem
  }

  .flexbox-layout-minor-inverted{
    flex:1 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
    padding:2rem;
  }

  .flexbox-layout-major-inverted{
    flex:1 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
    padding:2rem;
  }

  .flexbox-layout-summary{
    padding:2rem;
  }
  
  .sticky-event{
    padding:0rem 0.5rem 0rem 0.5rem;
    position:fixed;
    z-index:3;
  }

  .product-grid{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:1rem 3rem 3rem 3rem;

  }

  .unequal-text-formatting{
    padding:2rem;
  }

  .product-nav{
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100%;
  }

  .product-nav-button{
    padding:0.3rem 1rem 0.3rem 1rem;
  }

  .header-formatting{
    padding:0 2rem 0 2rem;
  }

  .client-name{
    width:100%;
    margin:0;
  }

  /**/

  h1{
    font-family: "Barlow", Verdana, sans-serif;
    font-weight:bold;
    font-size: 2.25rem;
  }

  h2,
  .h2-styling{
    font-family: "Barlow", Verdana, sans-serif;
    font-weight:bold;
    font-size: 1.25rem;
  }

  h3{
    font-family: "Barlow", Verdana, sans-serif;
    font-weight:bold;
    font-size: 1rem;
  }

  h4,
  .bolder-p-text {
    font-family: "SpaceMono-Regular", Verdana, sans-serif;
    font-size: 0.9rem;
    margin-top: 0.3rem;
    padding:0;

  }

  p, ol, ul,label {
    font-family: "SpaceMono-Regular", Verdana, sans-serif;
    font-size: 0.75rem;
    max-width: 40rem;
  }

  a, input{
    font-size:0.75rem;
  }

  .btn-submit, .btn-product{
    font-size:0.85rem;
    height:2.5rem;
  }

  .discount-header-font, #modalLink{
    font-size:0.6rem;
  }

  .flexbox-padding-margin{
    padding:2rem;
  }

  .hero-text {
    bottom:8rem;
  }

  .product-nav-button{
    font-size:0.75rem;
  }

  .filter-dropdown{
    margin:0;
    padding:0.5rem 4rem 0.5rem 4rem;
  }

   .review-cards{
    max-width:none;
    min-height: 18rem;
   }

}

@media (max-width: 40.1875rem) {

  .product-grid{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
    justify-content:center;
    padding:1rem 3rem 3rem 3rem;
  }

  .footer-col{
    padding:0rem;
  }

  .flexbox-half,
  .flexox-third {
    padding:2rem;
    flex:1 100%;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap:wrap;
  }

  .price-filter{
    padding:0rem;
    margin-right:2rem;
    margin-left:2rem;
  }

  .filterbtn{
    width:100%;
  }

  .filter-dropdown-content{
    width:100%;
  }

  .filter-dropdown-content a {
    display:block;
  }

  .cart-product-image{
    flex:1 0 30%;
  }

  .flexbox-cart{
    margin:1rem 0rem 2rem 0rem
  }

}

@media(max-width:44.5rem) {

  .hamburger_icon {
    display: block;
  }

  .main-nav-container{
    padding: 1rem 0rem 1rem 0rem;
  }


  /* Style the navigation menu */
  .main-nav {
    overflow: hidden;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .main-nav #myLinks {
    display: none;
  }


  /* Style navigation menu links */
  .main-nav button,
  .main-nav-logo button,
  .main-nav-items button,
  .main-nav-content button {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Add a grey background color on mouse-over */
  .main-nav a:hover {
    background-color: white;
    color: black;
  }

  /* Style the hamburger menu */
  .main-nav a.hamburger_icon {
    background: black;
    display: block;
    position: absolute;
    right: 1rem;
    color:red;
  }

}


@media (min-width: 110rem) {
  body{
    margin:0 6rem 0 6rem;
  }
}