/*
This file created by Corrina Tang 
Using work produced by Paul Brokenshire and Andrew Hawrishkewich

Also with the help and reference of w3schools.com. 
*/

body{
	margin: 0rem;
}

hr{
	margin-left: 7rem;
}

/* TOP NAVIGATION */ 
.topnav {
  background-color: black;
  overflow: hidden;
  margin: 0;
}

/* TOP NAVIGATION */ 
.saucyboynav {
  background-color: #D93333;
  overflow: hidden;
  padding:0.5rem;
  margin: 0;
}

/* BREADCRUMBS -------------------------------------------------------*/

  .flexbox-layout-major ul.breadcrumbs{
    padding:0;
  }

  ul.breadcrumbs {
    list-style: none;
  }

  ul.breadcrumbs li {
    display: inline;
  }

  ul.breadcrumbs li+li:before {
    padding: 0.25rem;
    color: black;
    content: ">\00a0";
  }

  ul.breadcrumbs li a {
    color: black;
    font-family: "Barlow";
    font-weight:bold;
    text-decoration: none;
  }

  /* Add a color on mouse-over */
  ul.breadcrumbs li a:hover,
  ul.breadcrumbs li a:focus, 
  ul.breadcrumbs li a:active{
    color: #D93333;
    text-decoration: underline;
  }


/* TYPOGRAPHY ---------------------------------------------------------- */ 
h1{
  font-family: "Barlow", Verdana, sans-serif;
  font-weight:bold;
  font-size: 3rem;
}

h2{
  font-family: "Barlow", Verdana, sans-serif;
  font-weight:bold;
  font-size: 2rem;
}

h3{
  font-family: "Barlow", Verdana, sans-serif;
  font-weight:bold;
  font-size: 1.5rem;
}

h4 {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding:0;

}

p, ol, ul,label {
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 1rem;
  max-width: 40rem;
}

input{
	font-family: "SpaceMono-Regular", Verdana, sans-serif;
	color: grey;
	width:20rem;
	height:2rem;
}

form{
	padding: 0.5rem;
}
/* LINKS + LINK STATES*/ 

a {
	font-family: "SpaceMono-Regular", Verdana, sans-serif;
	color: #D93333;
	text-decoration: none;
}

a:active, a:hover, a:focus {
	color:#B73326;
	/** this will prevent there being a line under the link **/
	text-decoration: none;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: centre;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:active, a:hover, a:focus{
  background-color: #D93333;
  color: white;
  text-decoration: none;

}

/* SIDE MENU LINKS*/
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #f1f1f1;
  display: block;
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.saucyboynav a {
  float: right;
  color: black;
  text-align: centre;
  text-decoration: none;
  font-size: 17px;
  font-family: "BarlowSemiCondensed-ExtraBold", Verdana, sans-serif;
  font-size: 1.5rem;
}

.saucyboynav a:active, a:hover, a:focus {
  text-decoration: underline;

}

.saucyboynav img {
	height:20%;
	width: 20%;
	padding: 0.1rem;

}
/* IMAGES */ 

img{
	height: auto;
	max-width: 100%;
}

figure{
	margin: 0;
}

figcaption{
	font-style: italic;
}

/* SECTIONS */ 

section{
padding-left:6rem;
margin: 3rem;
border-bottom-width: 1px;
}

code, samp {
	display: block;
	background-color: rgb(230,230,230);
	padding: 0.5rem;
	width: 35rem;
}

/*NAV CODE -------------------------------------------------- */

.main-nav-button{
  background-color: inherit;
  color:black;
  border:none;
  padding:0.9rem 1rem 0.9rem 1rem;
  font: inherit;
  margin: 0;
  color:white;
}

.main-nav-button:hover,
.main-nav-button:active,
.main-nav-button:focus{
  text-decoration:underline;
  color:white;

}

.product-nav-section{
  position:sticky;
  top:5.5rem;
  z-index:2;
  background:white;
}
.main-nav-logo a{
  display:flex;
  padding-left:0.5rem ;
}

/*NAV CODE --------------------------------*/

.main-nav-container{
	-webkit-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	height:auto;
	padding-right:0.5rem;
	padding-left:0.5rem;
}

.main-nav-logo{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
	flex:3 0 auto;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	align-items:center;
}

.main-nav-items{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex:1 0 20%;
	-webkit-justify-content:flex-end;
	-ms-justify-content:flex-end;
	justify-content:flex-end;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	align-items:center;
	flex-direction:row;
}

.main-nav-col{
	flex-wrap:wrap;
}

.logo-formatting{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;
}
/*NAV CODE*/



.main-nav-button{
  background-color: inherit;
  color:black;
  border:none;
  padding:0.9rem 1rem 0.9rem 1rem;
  font: inherit;
  margin: 0;
  color:white;
}

.main-nav-button-white{
  background-color: inherit;
  color:black;
  border:none;
  padding:0.9rem 1rem 0.9rem 1rem;
  font: inherit;
  margin: 0;
}

.main-nav-button:hover,
.main-nav-button:active,
.main-nav-button:focus{
  text-decoration:underline;
  color:white;

}

.product-nav-section{
  position:sticky;
  top:5.5rem;
  z-index:2;
  background:white;
}
.main-nav-logo a{
  display:flex;
  padding-left:0.5rem ;
}

/* FLEXBOX -------------------------------------------------------- */ 

.flexbox-container{
	display: flex;
	background-color: rgb(230,230,230);
	padding: 0.5rem;

}

.flexbox-item{
	width:200px;
	height:400px;
	margin:0.5rem;
	border: 2px solid black;
	background-color: white;
	padding: 0.5rem;
}

.flexbox-item,.flexbox-half, .flexbox-layout-major, .flexbox-layout-minor, 
.product-grid-col,.flexbox-layout-major-inverted, .flexbox-layout-minor-inverted
 p{
	text-align: center;
}

.flexbox-detailedproduct{
	display: flex;
	padding: 0.5rem;
}

.flexbox-product{
	width:50%;
	height:50%;
	margin:0.5rem;
	padding: 0.5rem;
}

.flexbox-layout-major-inverted{
	flex:2 0;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-left:0.25rem;
	margin-right:0.25rem;
	padding: 2rem 2rem 2rem 5rem;
}

.flexbox-layout-minor-inverted{
	flex:1 0;
	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding: 2rem 5rem 2rem 2rem;
}

.parent-container-wrap{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	background-color: lightgrey;
}

.flexbox-half,
.flexbox-third{

	flex:1 0 45%;
	margin-right:0.25rem;
	margin-left:0.25rem;
	padding:2rem 5rem 2rem 5rem;
}

.container{ 
	width:200px;
	height:400px;
	margin:0.5rem;
	border: 2px solid black;
	background-color: white;
	padding: 0.5rem;
 }

 .flexbox-layout-minor{
	flex:1 0;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	margin-right:0.25rem;
	margin-left:0.25rem;
	padding: 2rem 2rem 2rem 5rem;
}

.flexbox-layout-major{
	flex:2 1;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	margin-left:0.25rem;
	margin-right:0.25rem;
	padding: 2rem 5rem 2rem 2rem;

}

.product-grid{
	display: -webkit-flex;
	display: -ms-flex;
	display:flex;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;

	-webkit-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;

	justify-content: space-around;
	background-color: lightgrey;

}

.product-grid-col{
	margin-right:0.75rem;
	margin-left:0.75rem;

	flex-wrap: -webkit-wrap;
	flex-wrap: -ms-wrap;
	flex-wrap:wrap;
	max-width:19.375rem;
}


/* COLOR SWATCH  -------------------------------------------------------- */  
.color-swatches{
	display:flex; 
 }
  .swatch-1{
  	width:200px;
	height:300px;
	margin:0.5rem;
	padding:0.5rem;
	border: 2px solid black;
  	background-color: #D93333;
  }

  .swatch-2{
  	width:200px;
	height:300px;
	margin:0.5rem;
	padding:0.5rem;
	border: 2px solid black;
  	background-color: #B73326;
  }

   .swatch-3{
  	width:200px;
	height:300px;
	margin:0.5rem;
	padding:0.5rem;
	border: 2px solid black;
  	background-color: #FFF9ED;
  }

  .swatch-4{
  	width:200px;
	height:300px;
	margin:0.5rem;
	padding:0.5rem;
	border: 2px solid black;
  	background-color: #1A1A1A;
  	color:white;
  }


/* SIDEBAR MENU */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*BUTTONS*/ 

.button:hover, 
.button:focus,
.button:active,
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-product:hover,
.btn-product:focus,
.btn-product:active{
  border-style:solid;
  border-width:0.1rem;
  border-color:black;
  background-color:white;
  color:black;
  transition: background-color 0.2s;

  max-width: 20rem;
}

.btn-submit,
.btn-product{
  background-color:black;
  border:none;
  color: white;
  height: 3rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "SpaceMono-Regular", Verdana, sans-serif;
  font-size: 16px;  
  margin-top:1rem;

  max-width: 20rem;

}

 .input-button-size{
    height:2rem;
    width:2rem;
  }

   /* Black Button for Add (+) Minus (-) Increments */
  .btn-blacksquare
  {
    background-color:black;
    border:none;
    color: white;
    height: 2rem;
    width: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "SpaceMono-Regular", Verdana, sans-serif;
  }

  .slab-black, .bg-black, .block-black{
    background:black;
    color:white;
  }
